<!DOCTYPE html>
<html>
	<head>
		<title>TeamDDM Github - {{ page.title }}</title>
		<link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="/css/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if IE]>
			<link href="/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
	</head>
	<body class="bp">
		<div id="header">
			<h1>TeamDDM Github - {{ page.title }}</h1>
		</div>
		<div id="main">
			{{ content }}
		</div>
		<div id="footer">
			<span class="small">&copy; 2012 ddm marketing & communications, Grand Rapids, MI <a href="http://teamddm.com">teamddm.com</a></span>
		</div>
	</body>
</html>